{% extends "FilmBundle::index.html.twig" %}
 

{% block A %}

    <div class="row">    
        <div class="col-md-3">
            <h1> Connexion </h1>
        </div>
        <div class="col-md-3">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div> 
    </div>



{% endblock %}