{# empty Twig template #}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
	<!--<link href="{{ asset('bundles/film/css/bootstrap-theme.css') }}" rel="stylesheet">-->
    <link href="{{ asset('bundles/film/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('bundles/film/css/jquery-ui.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/film/css/shop-homepage.css') }}" rel="stylesheet">
    <!--<link href="{{ asset('bundles/film/css/normalize.css') }}" rel="stylesheet">-->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ asset('bundles/film/images/logo.png') }}" alt="Filmothèque"
                                                  width="35" height="35" class="moimg"/>
                <div class="moh1"> Film</div>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('film_homepage') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('affich_act') }}">Acteurs</a>
                </li>
                <li>
                    <a href="{{ path('film_index') }}">Films</a>
                </li>
                <li>
                    <a href="{{ path('category_index') }}">Categories</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
                <li>
                    
                    <script>
                        
                        function subm() {
                            if ($("#f input[class=sear]:checked").val() == 1) {$('#f').attr('action', "{{ path('film_search') }}")};
                        }
                    </script>
                    <form id="f" method="get" onsubmit="subm()">
                        <input type="text" autocomplete="off" placeholder="Search..." name="motcle" id="recherche">
                        <input type="radio" class="sear" value="1" checked/>Films 
                        <input type="radio" class="sear" value="2"/>Acteurs  
                        <input type="radio" class="sear" value="3"/>Categories  
                    </form>
                </li>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
                            
<!-- Page Content -->
<div class="container">
    {% block A %}
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Listes Des Categories</p>
                <div class="list-group">
                    {% for cat in categories %}
                        <a href="{{ path('film_homepage', {'id':cat.id}) }}" class="list-group-item">{{ cat.nom }}</a>
                    {% endfor %}
                </div>
                
                    <div class="well">
                        <form method="get" action="{{ path('film_search') }}">
                            <fieldset>
                                <div class="form-group-sm">
                                <label for="motcle">Search:</label>
                                <input type="text" placeholder="Search..." name="motcle" autocomplete="off" id="typeahead">
                                </div>
                                <button type="submit" class="btn btn-primary btn-xs" data>Search</button>
                            </fieldset>
                        </form>
                    </div>
            </div>

            <div class="col-md-9">

                <!--<div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image"
                                         src="{{ asset('bundles/film/images/CREATE-Film-Festival-800x300.jpg') }}"
                                         alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image"
                                         src="{{ asset('bundles/film/images/horror_true_movies_1-800x300.jpg') }}"
                                         alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image"
                                         src="{{ asset('bundles/film/images/assassins-creed-810x300.jpg') }}" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>-->
                <div></div>
                <div class="row">

                    {% for film in films %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset('uploads/'~film.poster) }}" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">64.99$</h4>
                                    <h4><a href="#">{{ film.titre }}</a>
                                    </h4>
                                    <p>{{ film.description }}</p>
                                    <p>{{ film.categorie.nom }}</p>

                                </div>
                                <div class="ratings">
                                    <p class="pull-right">12 vues</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(films) }}
                </div>

            </div>

        </div>
    {% endblock %}
</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
  <script src="{{ asset('bundles/film/js/jquery.js') }}"></script>
  <script src="{{ asset('bundles/film/js/jquery-ui.js') }}"></script>
  <script src="{{ asset('bundles/film/js/typeahead.bundle.js') }}"></script>
  
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/film/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/film/js/searchJSON.js') }}"></script>




</body>

</html>
