{# empty Twig template #}

{% extends "FilmBundle::index.html.twig" %}
{% block A %}
<div class="row">

            <div class="col-md-3">
                <p class="lead">Gestion des acteurs</p>
                <div class="list-group">
                    <a href="{{path('affich_act')}}" class="list-group-item">Afficher</a>
                    <a href="{{path('ajout_act')}}" class="list-group-item">Ajout</a>
                    <a href="{{path('modif_act2')}}" class="list-group-item">Editer</a>
                </div>
            </div>
<div class="col-md-9">
<table class="table table-striped">
    <thead>
<th>Id</th>
<th>nom</th>
<th>prenom</th>
<th>dateN</th>
<th>sexe</th>
<th>participé à</th>
</thead>
{% for a in act %}
 <tr>
     <td>{{a.id}}</td>
     <td>{{a.nom}}</td>
     <td>{{a.prenom}}</td>
     <td>{{a.dateN|date('d-M-Y')}}</td>
     <td>{{a.sexe}}</td>
     <td>
        {% for film in a.films %}
     {{film.titre}} {% if not loop.last %}, {% endif %}
    {% endfor %}
    </td>

 </tr>
{%endfor%}
</table>
</div>
</div>
{% endblock %}

