{# empty Twig template #}
{% extends "FilmBundle::index.html.twig" %}
{% block A %}
    
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Gestion des acteurs</p>
            <div class="list-group">
                <a href="{{path('affich_act')}}" class="list-group-item">Afficher</a>
                <a href="{{path('ajout_act')}}" class="list-group-item">Ajout</a>
                <a href="{{path('modif_act2')}}" class="list-group-item">Editer</a>
            </div>
        </div>
            <div class="col-md-9">
<form class="well" method="POST">
    
    {{form_widget(form)}}
    <input type="submit" value="envoyer"/>    
</form>
            </div>
{% endblock %}