{# empty Twig template #}
{% extends 'FilmBundle::index.html.twig' %}
{% block A %}

<div class="row">

            <div class="col-md-3">
                <p class="lead">Gestion des categories</p>
                <div class="list-group">
                    <a href="{{path('category_index')}}" class="list-group-item">lister</a>
                    <a href="{{path('category_new')}}" class="list-group-item">creer</a>
                </div>
            </div>
<div class="col-md-9">
<table class="table table-striped">
<thead>
	<tr><th>Id</th><th>Nom</th></tr>
</thead>

<tbody>

{% for c in cat %}
	<tr>
 <td>{{c.id}}</td>
 <td>{{c.nom}}</td>
 </tr>
{% endfor %}

</tbody>
</table>
</div>
</div>
{% endblock %}