{% extends "FilmBundle::index.html.twig" %}

{% block A %}
    
    <div class="row">

            <div class="col-md-3">
                <p class="lead">Gestion des filmes</p>
                <div class="list-group">
                    <a href="{{path('film_index')}}" class="list-group-item">lister</a>
                    <a href="{{path('film_new')}}" class="list-group-item">creer</a>
                    <a href="{{path('film_editer')}}" class="list-group-item">editer</a>
                </div>
            </div>
<div class="col-md-9">
<table class="table table-striped">
    <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>acteurs</th>
                <th>categorie</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
{% for film in films %}
  
 <tr>
     <td>{{film.id}}</td><td>{{film.titre}}</td><td>{{film.description}}</td>
     
     <td>
    {% for act in film.acteurs %}
        {{act.nom}} {% if not loop.last %}, {% endif %}
    {% endfor %}
    </td>


     <td>{{film.categorie.nom}}</td>
     <td><a href="{{path('film_edit', {'id':film.id})}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> modifier</a></td>
     <td><a href="{{path('film_delete', {'id':film.id})}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> supprimer</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
    </div>
    
{% endblock %}