{% extends 'FilmBundle::index.html.twig' %}

{% block A %}
    <div class="row">

            <div class="col-md-3">
                <p class="lead">Gestion des filmes</p>
                <div class="list-group">
                    <a href="{{path('film_index')}}" class="list-group-item">lister</a>
                    <a href="{{path('film_new')}}" class="list-group-item">creer</a>
                    <a href="{{path('film_editer')}}" class="list-group-item">editer</a>
                </div>
            </div>
<div class="col-md-9">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p>
            <img src="{{ asset(film.poster.pathName)}}" alt="" width="100" height="50"/>
        </p>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
</div>
</div>
{% endblock %}
