{% extends 'FilmBundle::index.html.twig' %}

{% block A %}


        <div class="row">

            <div class="col-md-3">
                <p class="lead">Gestion des filmes </p>
                <div class="list-group">
                    <a href="{{path('film_index')}}" class="list-group-item">lister</a>
                    <a href="{{path('film_new')}}" class="list-group-item">creer</a>
                    <a href="{{path('film_editer')}}" class="list-group-item">editer</a>
                </div>
            </div>
        <div class="col-md-9">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>acteurs</th>
                <th>categorie</th>
                <th>poster</th>

            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
                <td>{{ film.titre }}</td>
                <td>{{ film.description }}</td>
                <td>
                {% for act in film.acteurs %}

                {{ act.nom }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
                <td>{{ film.categorie.nom }}</td>
                <td><img src="{{ asset('uploads/' ~ film.poster)}}" alt="" width="100" height="50"/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation">
    {{ knp_pagination_render(films) }}
</div>
    </div>
</div>
{% endblock %}
