{% extends 'FilmBundle::index.html.twig' %}

{% block A %}

    <div class="row">

            <div class="col-md-3">
                <p class="lead">Gestion des filmes</p>
                <div class="list-group">
                    <a href="{{path('film_index')}}" class="list-group-item">lister</a>
                    <a href="{{path('film_new')}}" class="list-group-item">creer</a>
                    <a href="{{path('film_editer')}}" class="list-group-item">editer</a>
                </div>
            </div>
<div class="col-md-9">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
