{% extends "FilmBundle::index.html.twig" %}
{% block A %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Gestion des categories</p>
            <div class="list-group">
                <a href="{{path('category_index')}}" class="list-group-item">lister</a>
                <a href="{{path('category_new')}}" class="list-group-item">creer</a>
            </div>
        </div>
        <div class="col-md-9">
            <form method="POST">

                {{form_widget(form)}}
                <input type="submit" value="envoyer"/>    
            </form>
        </div>
    </div>
{% endblock %}
